body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-form {
  width: 400px;
}

.ant-dropdown::before  {
  border-radius: 10px;
  
}

.ant-menu-item ant-menu-item-selected ant-menu-item-active ant-menu-item-only-child {
  background-color: #111111;
  
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
  .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
    background-color:  #111111 !important;
  }

.ant-dropdown-menu {
    background-color: #000000 !important;
    outline: 1px solid #333 !important;

    z-index: 1 !important;
    border-radius: 2px;
    padding: 0 !important;
  }

.ant-dropdown-menu-title-content{
  z-index: 1 !important;
  margin: 0 !important;
  font-size: 20px;
  color: #787878 ;
}

.ant-dropdown-menu-title-content:hover{
  color: #ffffff ;
}

.ant-dropdown-menu-item {
  padding: 8px 20px !important;
  outline: 1px solid #333 !important;

width: 250px;
}

.ant-dropdown-menu-item:hover {
  background-color: #111111 !important;
  outline: 1px solid #ffffff !important;
  

}


