body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .ant-menu-submenu-popup>.ant-menu {
  background-color: #6DA9A5;
  font-weight: 500;
  --ant-primary-color: #000000;
  border-radius: 10px;
  margin: 0;
}

body .ant-menu-submenu-popup>.ant-menu:hover {
  background-color: #3e908b;
  --ant-primary-1: #3e908b;
}

body .ant-menu-vertical .ant-menu-item:hover {
  background-color: #317e79;
}

body .ant-menu-vertical .ant-menu-item:focus {
  background-color: #317e79;
}




